/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  html {
    box-sizing: border-box;
    font-size: 16px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌲 </text></svg>") 16 0,auto; /*!emojicursor.app*/
  
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L;
    line-height: 1.5;
    background-color: lavenderblush;
    text-align: center;
    font-size: 25px;
  }
  
  h {
    text-align: center;
    font-size: 55px;
    color:palevioletred;
    font-weight: bold;
  }
  p1 {
    float: left;
  }
  p2 {
    color:palevioletred;
  }
  p3 {
    color:palevioletred;
  }
  p4 {
    color:palevioletred;
  }
  p5 {
    color:palevioletred;
  }
  p6 {
    color:palevioletred;
  }
  
  /* images and videos max out at full width */
  img 
  
  video {
    height: auto;
    max-width: 100%;
  }